### Import the data and clean it up a little bit

In [136]:
import pandas as pd

file_path = "/Users/nsaveas/Documents/repos/DPA-Final-Project/"

In [137]:
# Import the data
business_df = pd.read_csv(file_path + "data/business_With_key1.csv")
establishment_df = pd.read_csv(file_path + "Cleaned Establishement.csv")

inspection_df = pd.read_csv(file_path + "data/restaurant_inspections.csv", delimiter=";")
inspection_types_df = pd.read_csv(file_path + "data/restaurants/restaurant_inspection_types.csv", delimiter=";")

In [138]:
inspection_df.shape

(261892, 16)

In [139]:
establishment_df.shape

(24986, 20)

In [140]:
business_df.head()

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,clean_name,key
0,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,4.0,carluccio tivoli gardens,['PR0009962' 'PR0009961']
1,1,6007 Dean Martin Dr,"{'BikeParking': 'False', 'Ambience': ""{'romant...",KWywu2tTEPWmR9JnBc0WyQ,"Nightlife, Arts & Entertainment, Bars, Strip C...",Las Vegas,"{'Thursday': '19:30-2:0', 'Friday': '19:30-3:0...",1,36.080168,-115.182756,Hunk Mansion,89118.0,107,4.0,hunk mansion,NaN
2,2,6055 E Lake Mead Blvd,"{'BikeParking': 'True', 'BusinessParking': ""{'...",tstimHoMcYbkSC4eBA1wEg,"Mexican, Restaurants, Patisserie/Cake Shop, Fo...",Las Vegas,"{'Monday': '11:0-21:0', 'Tuesday': '10:0-21:0'...",1,36.195615,-115.040529,Maria's Mexican Restaurant & Bakery,89156.0,184,4.5,maria mexican,['PR0011933']
3,3,4190 N Pecos Rd,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...",NBn4hgfGtNz91k3VsDZlmw,"Local Services, Food Banks, Community Service/...",Las Vegas,"{'Monday': '0:0-0:0', 'Tuesday': '8:0-17:0', '...",1,36.236053,-115.096454,Three Square,89115.0,44,5.0,three square,['PR0105994']
4,4,6125 Spring Mountain Rd,"{'RestaurantsPriceRange2': '1', 'Ambience': ""{...",kANF0dbeoW34s2vwh6Umfw,"Fast Food, Food, Restaurants, Ice Cream & Froz...",Las Vegas,NaN,0,36.125031,-115.225620,Dairy Queen,89146.0,33,2.0,dairy queen,['PR0017094']

In [141]:
# Get rid of columns that don't add any information
business_df = business_df.drop(columns=['Unnamed: 0', 'attributes', 'hours', 'key'])
business_df.head()

,address,business_id,categories,city,is_open,latitude,longitude,name,postal_code,review_count,stars,clean_name
0,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,4.0,carluccio tivoli gardens
1,6007 Dean Martin Dr,KWywu2tTEPWmR9JnBc0WyQ,"Nightlife, Arts & Entertainment, Bars, Strip C...",Las Vegas,1,36.080168,-115.182756,Hunk Mansion,89118.0,107,4.0,hunk mansion
2,6055 E Lake Mead Blvd,tstimHoMcYbkSC4eBA1wEg,"Mexican, Restaurants, Patisserie/Cake Shop, Fo...",Las Vegas,1,36.195615,-115.040529,Maria's Mexican Restaurant & Bakery,89156.0,184,4.5,maria mexican
3,4190 N Pecos Rd,NBn4hgfGtNz91k3VsDZlmw,"Local Services, Food Banks, Community Service/...",Las Vegas,1,36.236053,-115.096454,Three Square,89115.0,44,5.0,three square
4,6125 Spring Mountain Rd,kANF0dbeoW34s2vwh6Umfw,"Fast Food, Food, Restaurants, Ice Cream & Froz...",Las Vegas,0,36.125031,-115.225620,Dairy Queen,89146.0,33,2.0,dairy queen

In [142]:
business_df.shape

(10682, 12)

In [143]:
# Check to see if there are any problems with the data -- all businesses have an id
business_df.isna().sum()

address         205
business_id       0
categories        0
city              0
is_open           0
latitude          0
longitude         0
name              0
postal_code      23
review_count      0
stars             0
clean_name      247
dtype: int64

In [144]:
establishment_df.head()

,permit_number,facility_id,PE,restaurant_name,location_name,address,latitude,longitude,city_id,city_name,zip_code,nciaa,record_status,current_grade,current_demerits,date_current,previous_grade,date_previous,search_text,Unnamed: 21
0,PR0000002,FA0002677,1006,McDonald's #3549 D HOTEL,McDonalds (Store #3549) @ D HOTEL,301 Fremont St,36.169390,-115.143084,10,Las Vegas,89101-5600,Y,1,A,6.0,2019-04-02 00:00:00,A,2019-04-02 00:00:00,McDonald's #3549 D HOTEL McDonalds 3549 D HOTEL,NaN
1,PR0000003,FA0002678,1008,MCDONALD'S #19724,McDonalds Corporation,4400 E Charleston Blvd,36.159440,-115.079750,10,Las Vegas,89104-5506,Y,1,A,3.0,2019-01-03 00:00:00,A,2019-01-03 00:00:00,MCDONALD'S #19724 MCDONALDS 19724,NaN
2,PR0000004,FA0002679,1007,McDonald's #6965,McDonalds #6965,3175 N Rancho Dr,36.216746,-115.212421,10,Las Vegas,89130-3302,Y,1,A,0.0,2019-06-28 00:00:00,A,2019-06-28 00:00:00,McDonald's #6965 McDonalds 6965,NaN
3,PR0000005,FA0002680,1007,MCDONALD'S #2922,McDonalds (Store #2922),2020 N Rainbow Blvd,36.196385,-115.240740,10,Las Vegas,89108-7049,Y,1,A,0.0,2019-12-10 00:00:00,A,2019-12-10 00:00:00,MCDONALD'S #2922 MCDONALDS 2922,NaN
4,PR0000006,FA0002681,1006,MCDONALD'S #3153 @ PLAZA,McDonalds (Store #3153) @ PLAZA,1 S Main St,36.172176,-115.146829,10,Las Vegas,89101-6370,Y,1,A,3.0,2019-10-07 00:00:00,A,2019-10-07 00:00:00,MCDONALD'S #3153 @ PLAZA MCDONALDS 3153 PLAZA,NaN

In [145]:
establishment_df = establishment_df.drop(columns=['Unnamed: 21'])

In [146]:
inspection_df.isna().sum()

serial_number                0
permit_number                0
facility_id                  0
owner_id                261892
inspection_date              0
inspection_time             93
employee_id                  0
inspection_type_id           0
inspection_demerits        477
inspection_grade           424
inspection_grade_new       424
permit_status           261892
inspection_result            0
violations               55141
record_updated               0
Unnamed: 15             261892
dtype: int64

In [147]:
inspection_df = inspection_df.drop(columns=['owner_id', 'permit_status', 'Unnamed: 15', 'violations'])
inspection_df = inspection_df.dropna(axis='index', subset=['inspection_demerits', 'inspection_time'])

In [148]:
inspection_df.isna().sum()

serial_number           0
permit_number           0
facility_id             0
inspection_date         0
inspection_time         0
employee_id             0
inspection_type_id      0
inspection_demerits     0
inspection_grade        0
inspection_grade_new    0
inspection_result       0
record_updated          0
dtype: int64

In [149]:
inspection_df.shape

(261322, 12)

### Join the all the inspection data

In [150]:
inspections_with_type_df = inspection_df.merge(inspection_types_df, on='inspection_type_id', how='inner')
inspections_with_type_df = inspections_with_type_df.drop(columns=['Unnamed: 2'])

In [151]:
inspections_with_type_df.shape

(261322, 13)

In [152]:
inspections_with_type_df.head()

,serial_number,permit_number,facility_id,inspection_date,inspection_time,employee_id,inspection_type_id,inspection_demerits,inspection_grade,inspection_grade_new,inspection_result,record_updated,inspection_type
0,DA0001121,PR0000411,FA0002433,2005-03-25 00:00:00,2005-03-25 10:20:00,EE7000535,916,4.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection
1,DA0001122,PR0000411,FA0002433,2005-11-07 00:00:00,2005-11-07 10:40:00,EE7000664,916,40.0,C,C,C Downgrade,2013-02-21 22:26:12,Routine Inspection
2,DA0001123,PR0000411,FA0002433,2005-11-18 00:00:00,2005-11-18 11:40:00,EE7000352,916,0.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection
3,DA0001124,PR0000411,FA0002433,2006-09-25 00:00:00,2006-09-25 10:25:00,EE7000735,916,10.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection
4,DA0001125,PR0000411,FA0002433,2007-07-25 00:00:00,2007-07-25 13:50:00,EE0000001,916,3.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection

In [153]:
inspections_with_type_df = inspections_with_type_df[inspections_with_type_df['inspection_type_id'] != 914]

In [154]:
inspections_with_type_df.shape

(242410, 13)

In [155]:
establishment_inspection_df = establishment_df.merge(inspections_with_type_df, on=['permit_number'], how='inner')

In [156]:
establishment_inspection_df.shape

(230209, 31)

In [157]:
establishment_inspection_df.isna().sum()

permit_number               0
facility_id_x               0
PE                          0
restaurant_name             2
location_name               0
address                    34
latitude                    0
longitude                   0
city_id                     0
city_name                   0
zip_code                    3
nciaa                   21461
record_status               0
current_grade            1782
current_demerits         1782
date_current             1782
previous_grade           1886
date_previous            1886
search_text                 0
serial_number               0
facility_id_y               0
inspection_date             0
inspection_time             0
employee_id                 0
inspection_type_id          0
inspection_demerits         0
inspection_grade            0
inspection_grade_new        0
inspection_result           0
record_updated              0
inspection_type             0
dtype: int64

### Split the business rows with multiple permits

This section used to be about splitting each business with multiple permits into its own row, but the new mapping file did this for me

In [158]:
# multiple_ind = business_df.apply(lambda x: True if len(x['key']) > 13 else False, axis=1)
# multiple_permit_count = len(multiple_ind[multiple_ind == True].index)

# single_ind = [not x for x in multiple_ind]

# multiple_ind_true = multiple_ind[multiple_ind == True].index
# multiple_permit_count

In [159]:
# business_single_df = business_df.copy()[single_ind]

# for row in list(multiple_ind_true):
#     keys = business_df.loc[row, "key"]
#     current_row = business_df.loc[row, :]
#     for key in keys[2:len(keys)-2].split():
#         copy_row = current_row.copy()
#         copy_row["key"] = key.replace("'", "")
#         business_single_df = business_single_df.append(copy_row, ignore_index = True)
            
# #     business_df.drop(row, inplace = True)
#     print("dropped", row)

In [160]:
# multiple_ind = business_single_df.apply(lambda x: True if len(x['key']) > 13 else False, axis=1)
# multiple_permit_count = len(multiple_ind[multiple_ind == True].index)
# multiple_permit_count

In [161]:
# business_single_df.shape

In [162]:
# business_single_df.tail()

### Join the two datasets

Take the mapping data set and merge it with the establishments data.

Take that joined data and merge with the business data.

Should end up with a dataframe where each row is a business with an inspection. There are going to be multiple business ids with multiple rows. That means the business has been inspected multiple times

In [163]:
# Import the mapping file and only use the valid matches
# Remove some columns and rename another column for joining purposes
mapping_df = pd.read_csv(file_path + "data/mapping_file.csv")
mapping_df = mapping_df.drop(columns='Unnamed: 8')
mapping_df = mapping_df[mapping_df['is_valid'] == 'y']
mapping_df = mapping_df.reset_index(drop = True)
mapping_df = mapping_df.rename(columns={'address_y': 'address'})
mapping_df.shape

(8972, 8)

In [164]:
mapping_df.head()

,business_id,address_x,facility_id,location_name,name,restaurant_name,address,is_valid
0,PZ-LZzSlhSe9utkQYU8pFg,"1775 E Tropicana Ave, Ste 29",FA0005923,Carluccios,Carluccio's Tivoli Gardens,Carluccio's Lounge Bar,1775 E Tropicana Ave,y
1,PZ-LZzSlhSe9utkQYU8pFg,"1775 E Tropicana Ave, Ste 29",FA0005923,Carluccios,Carluccio's Tivoli Gardens,Carluccio's Restaurant,1775 E Tropicana Ave,y
2,tstimHoMcYbkSC4eBA1wEg,6055 E Lake Mead Blvd,FA0006354,Mama Marias,Maria's Mexican Restaurant & Bakery,Mama Maria's,6055 E Lake Mead Blvd C,y
3,NBn4hgfGtNz91k3VsDZlmw,4190 N Pecos Rd,FA0069108,THREE SQUARE - SFSP,Three Square,THREE SQUARE CATERING,4190 N PECOS Rd,y
4,kANF0dbeoW34s2vwh6Umfw,6125 Spring Mountain Rd,FA0008571,Dairy Queen #17798,Dairy Queen,Dairy Queen #17798,6125 Spring Mountain Rd,y

In [165]:
establishment_inspection_df.columns

Index(['permit_number', 'facility_id_x', 'PE', 'restaurant_name',
       'location_name', 'address', 'latitude', 'longitude', 'city_id',
       'city_name', 'zip_code', 'nciaa', 'record_status', 'current_grade',
       'current_demerits', 'date_current', 'previous_grade', 'date_previous',
       'search_text', 'serial_number', 'facility_id_y', 'inspection_date',
       'inspection_time', 'employee_id', 'inspection_type_id',
       'inspection_demerits', 'inspection_grade', 'inspection_grade_new',
       'inspection_result', 'record_updated', 'inspection_type'],
      dtype='object')

In [166]:
# We inner join because we only want establishments that have a matching business on the yelp dataset
# and we only care about the mappings that actually map to an establishment
inspection_with_map_df = establishment_inspection_df.merge(mapping_df, how='inner', on=['restaurant_name'])

In [167]:
inspection_with_map_df.shape

(139527, 38)

In [168]:
inspection_with_map_df.head()

,permit_number,facility_id_x,PE,restaurant_name,location_name_x,address_x,latitude,longitude,city_id,city_name,...,inspection_result,record_updated,inspection_type,business_id,address_x,facility_id,location_name_y,name,address_y,is_valid
0,PR0000002,FA0002677,1006,McDonald's #3549 D HOTEL,McDonalds (Store #3549) @ D HOTEL,301 Fremont St,36.16939,-115.143084,10,Las Vegas,...,Compliant,2013-02-21 22:26:12,Routine Inspection,4lAwPgy1m9Rd0oBpi4Hr2w,301 Fremont St,FA0002677,McDonalds (Store #3549) @ D HOTEL,McDonald's,301 Fremont St,y
1,PR0000002,FA0002677,1006,McDonald's #3549 D HOTEL,McDonalds (Store #3549) @ D HOTEL,301 Fremont St,36.16939,-115.143084,10,Las Vegas,...,Compliant,2013-02-21 22:26:12,Routine Inspection,4lAwPgy1m9Rd0oBpi4Hr2w,301 Fremont St,FA0002677,McDonalds (Store #3549) @ D HOTEL,McDonald's,301 Fremont St,y
2,PR0000002,FA0002677,1006,McDonald's #3549 D HOTEL,McDonalds (Store #3549) @ D HOTEL,301 Fremont St,36.16939,-115.143084,10,Las Vegas,...,Compliant,2013-02-21 22:26:12,Routine Inspection,4lAwPgy1m9Rd0oBpi4Hr2w,301 Fremont St,FA0002677,McDonalds (Store #3549) @ D HOTEL,McDonald's,301 Fremont St,y
3,PR0000002,FA0002677,1006,McDonald's #3549 D HOTEL,McDonalds (Store #3549) @ D HOTEL,301 Fremont St,36.16939,-115.143084,10,Las Vegas,...,Compliant,2013-02-21 22:26:12,Routine Inspection,4lAwPgy1m9Rd0oBpi4Hr2w,301 Fremont St,FA0002677,McDonalds (Store #3549) @ D HOTEL,McDonald's,301 Fremont St,y
4,PR0000002,FA0002677,1006,McDonald's #3549 D HOTEL,McDonalds (Store #3549) @ D HOTEL,301 Fremont St,36.16939,-115.143084,10,Las Vegas,...,B Downgrade,2013-02-21 22:26:12,Routine Inspection,4lAwPgy1m9Rd0oBpi4Hr2w,301 Fremont St,FA0002677,McDonalds (Store #3549) @ D HOTEL,McDonald's,301 Fremont St,y

In [169]:
# We want an inner join because we only care about businesses that have inspection data
business_ment_df = business_df.merge(inspection_with_map_df, how = "inner", 
                                     on='business_id',
                                     suffixes=('_left', '_right'))

In [170]:
business_ment_df.isna().sum()

address                    0
business_id                0
categories                 0
city                       0
is_open                    0
latitude_left              0
longitude_left             0
name_left                  0
postal_code                6
review_count               0
stars                      0
clean_name                 0
permit_number              0
facility_id_x              0
PE                         0
restaurant_name            0
location_name_x            0
address_x                  0
latitude_right             0
longitude_right            0
city_id                    0
city_name                  0
zip_code                   0
nciaa                   9961
record_status              0
current_grade            790
current_demerits         790
date_current             790
previous_grade           805
date_previous            805
search_text                0
serial_number              0
facility_id_y              0
inspection_date            0
inspection_time            0
employee_id                0
inspection_type_id         0
inspection_demerits        0
inspection_grade           0
inspection_grade_new       0
inspection_result          0
record_updated             0
inspection_type            0
address_x                  0
facility_id                0
location_name_y            0
name_right                 0
address_y                  0
is_valid                   0
dtype: int64

In [171]:
# business_ment_df = business_ment_df.dropna(axis='index', subset=['current_grade'])
business_ment_df = business_ment_df.drop(columns=['nciaa'])
business_ment_df.isna().sum()

address                   0
business_id               0
categories                0
city                      0
is_open                   0
latitude_left             0
longitude_left            0
name_left                 0
postal_code               6
review_count              0
stars                     0
clean_name                0
permit_number             0
facility_id_x             0
PE                        0
restaurant_name           0
location_name_x           0
address_x                 0
latitude_right            0
longitude_right           0
city_id                   0
city_name                 0
zip_code                  0
record_status             0
current_grade           790
current_demerits        790
date_current            790
previous_grade          805
date_previous           805
search_text               0
serial_number             0
facility_id_y             0
inspection_date           0
inspection_time           0
employee_id               0
inspection_type_id        0
inspection_demerits       0
inspection_grade          0
inspection_grade_new      0
inspection_result         0
record_updated            0
inspection_type           0
address_x                 0
facility_id               0
location_name_y           0
name_right                0
address_y                 0
is_valid                  0
dtype: int64

In [172]:
business_ment_df.shape

(139527, 48)

In [173]:
business_ment_df.columns

Index(['address', 'business_id', 'categories', 'city', 'is_open',
       'latitude_left', 'longitude_left', 'name_left', 'postal_code',
       'review_count', 'stars', 'clean_name', 'permit_number', 'facility_id_x',
       'PE', 'restaurant_name', 'location_name_x', 'address_x',
       'latitude_right', 'longitude_right', 'city_id', 'city_name', 'zip_code',
       'record_status', 'current_grade', 'current_demerits', 'date_current',
       'previous_grade', 'date_previous', 'search_text', 'serial_number',
       'facility_id_y', 'inspection_date', 'inspection_time', 'employee_id',
       'inspection_type_id', 'inspection_demerits', 'inspection_grade',
       'inspection_grade_new', 'inspection_result', 'record_updated',
       'inspection_type', 'address_x', 'facility_id', 'location_name_y',
       'name_right', 'address_y', 'is_valid'],
      dtype='object')

In [174]:
business_ment_df = business_ment_df.drop(columns=['current_grade', 'current_demerits', 'previous_grade', 
                                                  'date_previous', 'name_right', 'is_valid', 'address_x'])

In [175]:
business_ment_df.head()

,address,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,inspection_type_id,inspection_demerits,inspection_grade,inspection_grade_new,inspection_result,record_updated,inspection_type,facility_id,location_name_y,address_y
0,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,916,9.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection,FA0005923,Carluccios,1775 E Tropicana Ave
1,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,916,33.0,C,C,C Downgrade,2013-02-21 22:26:12,Routine Inspection,FA0005923,Carluccios,1775 E Tropicana Ave
2,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,916,7.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection,FA0005923,Carluccios,1775 E Tropicana Ave
3,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,916,10.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection,FA0005923,Carluccios,1775 E Tropicana Ave
4,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,916,20.0,B,B,B Downgrade,2013-02-21 22:26:12,Routine Inspection,FA0005923,Carluccios,1775 E Tropicana Ave

### Aggregate inspections that happen on the same day

In [176]:
count_df = business_ment_df.groupby(['business_id', 'inspection_date']).agg({'inspection_grade': 'count', 'inspection_demerits': 'mean'})
count_df

                                            inspection_grade  \
business_id            inspection_date
-0BxAGlIk5DJAGVkpqBXxg 2008-05-30 00:00:00                 1
                       2008-12-09 00:00:00                 1
                       2009-09-23 00:00:00                 1
                       2010-04-06 00:00:00                 1
                       2010-10-07 00:00:00                 1
...                                                      ...
zzOo9n22fBbKAhbSpMzggA 2013-11-24 00:00:00                 1
                       2014-03-07 00:00:00                 2
                       2015-07-28 00:00:00                 2
                       2016-03-30 00:00:00                 2
                       2018-04-13 00:00:00                 1

                                            inspection_demerits
business_id            inspection_date
-0BxAGlIk5DJAGVkpqBXxg 2008-05-30 00:00:00                  9.0
                       2008-12-09 00:00:00                  9.0
                       2009-09-23 00:00:00                 10.0
                       2010-04-06 00:00:00                  6.0
                       2010-10-07 00:00:00                  6.0
...                                                         ...
zzOo9n22fBbKAhbSpMzggA 2013-11-24 00:00:00                  3.0
                       2014-03-07 00:00:00                  8.0
                       2015-07-28 00:00:00                  8.0
                       2016-03-30 00:00:00                 10.5
                       2018-04-13 00:00:00                  0.0

[113390 rows x 2 columns]

In [177]:
count_df = count_df.reset_index()
count_df = count_df.rename(columns={'inspection_grade': 'inspection_count', 'inspection_demerits': 'average_demerits'})
count_df.head()

,business_id,inspection_date,inspection_count,average_demerits
0,-0BxAGlIk5DJAGVkpqBXxg,2008-05-30 00:00:00,1,9.0
1,-0BxAGlIk5DJAGVkpqBXxg,2008-12-09 00:00:00,1,9.0
2,-0BxAGlIk5DJAGVkpqBXxg,2009-09-23 00:00:00,1,10.0
3,-0BxAGlIk5DJAGVkpqBXxg,2010-04-06 00:00:00,1,6.0
4,-0BxAGlIk5DJAGVkpqBXxg,2010-10-07 00:00:00,1,6.0

In [178]:
count_df.to_csv(file_path + 'y_file.csv')

In [108]:
agg_inspection_df = business_ment_df.merge(count_df, how='inner', on=['business_id', 'inspection_date'])
agg_inspection_df.head()

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude_left,longitude_left,...,inspection_grade,inspection_grade_new,inspection_result,record_updated,inspection_type,facility_id,location_name_y,address_y,inspection_count,average_demerits
0,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection,FA0005923,Carluccios,1775 E Tropicana Ave,2,9.5
1,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection,FA0005923,Carluccios,1775 E Tropicana Ave,2,9.5
2,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,C,C,C Downgrade,2013-02-21 22:26:12,Routine Inspection,FA0005923,Carluccios,1775 E Tropicana Ave,2,20.5
3,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection,FA0005923,Carluccios,1775 E Tropicana Ave,2,20.5
4,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection,FA0005923,Carluccios,1775 E Tropicana Ave,1,7.0

In [109]:
agg_inspection_df.columns

Index(['Unnamed: 0', 'address', 'attributes', 'business_id', 'categories',
       'city', 'hours', 'is_open', 'latitude_left', 'longitude_left',
       'name_left', 'postal_code', 'review_count', 'stars', 'clean_name',
       'key', 'permit_number', 'facility_id_x', 'PE', 'restaurant_name',
       'location_name_x', 'latitude_right', 'longitude_right', 'city_id',
       'city_name', 'zip_code', 'record_status', 'date_current', 'search_text',
       'Unnamed: 21', 'serial_number', 'facility_id_y', 'inspection_date',
       'inspection_time', 'employee_id', 'inspection_type_id',
       'inspection_demerits', 'inspection_grade', 'inspection_grade_new',
       'inspection_result', 'record_updated', 'inspection_type', 'facility_id',
       'location_name_y', 'address_y', 'inspection_count', 'average_demerits'],
      dtype='object')

In [110]:
no_longer_needed = ['permit_number', 'PE', 'restaurant_name', 'date_current', 'search_text', 'serial_number',
                    'employee_id', 'inspection_type_id', 'inspection_demerits', 'inspection_grade',
                    'inspection_grade_new', 'inspection_result', 'record_updated', 'inspection_type',
                    'inspection_time', 'city_id', 'city_name', 'zip_code']
agg_inspection_df.drop(columns = no_longer_needed).drop_duplicates()

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude_left,longitude_left,...,longitude_right,record_status,Unnamed: 21,facility_id_y,inspection_date,facility_id,location_name_y,address_y,inspection_count,average_demerits
0,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,-115.128564,2,NaN,FA0005923,2005-01-26 00:00:00,FA0005923,Carluccios,1775 E Tropicana Ave,2,9.5
2,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,-115.128564,2,NaN,FA0005923,2006-02-23 00:00:00,FA0005923,Carluccios,1775 E Tropicana Ave,2,20.5
4,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,-115.128564,2,NaN,FA0005923,2006-03-01 00:00:00,FA0005923,Carluccios,1775 E Tropicana Ave,1,7.0
5,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,-115.128564,2,NaN,FA0005923,2006-08-06 00:00:00,FA0005923,Carluccios,1775 E Tropicana Ave,1,10.0
6,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,-115.128564,2,NaN,FA0005923,2006-11-05 00:00:00,FA0005923,Carluccios,1775 E Tropicana Ave,2,13.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139596,10681,"8164 S. Las Vegas Blvd., #100","{'OutdoorSeating': 'True', 'WiFi': ""u'free'"", ...",vIAEWbTJc657yN8I4z7whQ,"Food, Coffee & Tea",Las Vegas,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,36.041407,-115.171698,...,-115.171654,1,NaN,FA0004649,2015-01-26 00:00:00,FA0004649,Starbucks Coffee Company #2780,8164 Las Vegas Blvd,1,6.0
139597,10681,"8164 S. Las Vegas Blvd., #100","{'OutdoorSeating': 'True', 'WiFi': ""u'free'"", ...",vIAEWbTJc657yN8I4z7whQ,"Food, Coffee & Tea",Las Vegas,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,36.041407,-115.171698,...,-115.171654,1,NaN,FA0004649,2016-04-22 00:00:00,FA0004649,Starbucks Coffee Company #2780,8164 Las Vegas Blvd,1,6.0
139598,10681,"8164 S. Las Vegas Blvd., #100","{'OutdoorSeating': 'True', 'WiFi': ""u'free'"", ...",vIAEWbTJc657yN8I4z7whQ,"Food, Coffee & Tea",Las Vegas,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,36.041407,-115.171698,...,-115.171654,1,NaN,FA0004649,2019-02-25 00:00:00,FA0004649,Starbucks Coffee Company #2780,8164 Las Vegas Blvd,1,9.0
139599,10681,"8164 S. Las Vegas Blvd., #100","{'OutdoorSeating': 'True', 'WiFi': ""u'free'"", ...",vIAEWbTJc657yN8I4z7whQ,"Food, Coffee & Tea",Las Vegas,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,36.041407,-115.171698,...,-115.171654,1,NaN,FA0004649,2018-04-27 00:00:00,FA0004649,Starbucks Coffee Company #2780,8164 Las Vegas Blvd,1,8.0
139600,10681,"8164 S. Las Vegas Blvd., #100","{'OutdoorSeating': 'True', 'WiFi': ""u'free'"", ...",vIAEWbTJc657yN8I4z7whQ,"Food, Coffee & Tea",Las Vegas,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,36.041407,-115.171698,...,-115.171654,1,NaN,FA0004649,2017-07-13 00:00:00,FA0004649,Starbucks Coffee Company #2780,8164 Las Vegas Blvd,1,3.0

In [111]:
agg_inspection_df = agg_inspection_df.drop(columns = no_longer_needed).drop_duplicates()
agg_inspection_df.head()

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude_left,longitude_left,...,longitude_right,record_status,Unnamed: 21,facility_id_y,inspection_date,facility_id,location_name_y,address_y,inspection_count,average_demerits
0,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,-115.128564,2,NaN,FA0005923,2005-01-26 00:00:00,FA0005923,Carluccios,1775 E Tropicana Ave,2,9.5
2,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,-115.128564,2,NaN,FA0005923,2006-02-23 00:00:00,FA0005923,Carluccios,1775 E Tropicana Ave,2,20.5
4,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,-115.128564,2,NaN,FA0005923,2006-03-01 00:00:00,FA0005923,Carluccios,1775 E Tropicana Ave,1,7.0
5,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,-115.128564,2,NaN,FA0005923,2006-08-06 00:00:00,FA0005923,Carluccios,1775 E Tropicana Ave,1,10.0
6,0,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,NaN,0,36.100016,-115.128528,...,-115.128564,2,NaN,FA0005923,2006-11-05 00:00:00,FA0005923,Carluccios,1775 E Tropicana Ave,2,13.5

In [112]:
agg_inspection_df.shape

(118273, 29)

In [51]:
agg_counts_df = agg_inspection_df.groupby(['business_id', 'inspection_date']).agg('count')
agg_counts_df.head()

                                            address_left  categories  city  \
business_id            inspection_date
-0BxAGlIk5DJAGVkpqBXxg 2008-05-30 00:00:00             1           1     1
                       2008-12-09 00:00:00             1           1     1
                       2009-09-23 00:00:00             1           1     1
                       2010-04-06 00:00:00             1           1     1
                       2010-10-07 00:00:00             1           1     1

                                            is_open  latitude_left  \
business_id            inspection_date
-0BxAGlIk5DJAGVkpqBXxg 2008-05-30 00:00:00        1              1
                       2008-12-09 00:00:00        1              1
                       2009-09-23 00:00:00        1              1
                       2010-04-06 00:00:00        1              1
                       2010-10-07 00:00:00        1              1

                                            longitude_left  name_left  \
business_id            inspection_date
-0BxAGlIk5DJAGVkpqBXxg 2008-05-30 00:00:00               1          1
                       2008-12-09 00:00:00               1          1
                       2009-09-23 00:00:00               1          1
                       2010-04-06 00:00:00               1          1
                       2010-10-07 00:00:00               1          1

                                            postal_code  review_count  stars  \
business_id            inspection_date
-0BxAGlIk5DJAGVkpqBXxg 2008-05-30 00:00:00            1             1      1
                       2008-12-09 00:00:00            1             1      1
                       2009-09-23 00:00:00            1             1      1
                       2010-04-06 00:00:00            1             1      1
                       2010-10-07 00:00:00            1             1      1

                                            clean_name  facility_id  \
business_id            inspection_date
-0BxAGlIk5DJAGVkpqBXxg 2008-05-30 00:00:00           1            1
                       2008-12-09 00:00:00           1            1
                       2009-09-23 00:00:00           1            1
                       2010-04-06 00:00:00           1            1
                       2010-10-07 00:00:00           1            1

                                            location_name  address_right  \
business_id            inspection_date
-0BxAGlIk5DJAGVkpqBXxg 2008-05-30 00:00:00              1              1
                       2008-12-09 00:00:00              1              1
                       2009-09-23 00:00:00              1              1
                       2010-04-06 00:00:00              1              1
                       2010-10-07 00:00:00              1              1

                                            latitude_right  longitude_right  \
business_id            inspection_date
-0BxAGlIk5DJAGVkpqBXxg 2008-05-30 00:00:00               1                1
                       2008-12-09 00:00:00               1                1
                       2009-09-23 00:00:00               1                1
                       2010-04-06 00:00:00               1                1
                       2010-10-07 00:00:00               1                1

                                            record_status  inspection_count  \
business_id            inspection_date
-0BxAGlIk5DJAGVkpqBXxg 2008-05-30 00:00:00              1                 1
                       2008-12-09 00:00:00              1                 1
                       2009-09-23 00:00:00              1                 1
                       2010-04-06 00:00:00              1                 1
                       2010-10-07 00:00:00              1                 1

                                            average_demerits
business_id            inspection_date
-0BxAGlIk5DJAGVkpqBXxg 2008-05-30 00:00:00                 1
                       2008-12-09 00:00:00                 1
                       2009-09-23 00:00:00                 1
                       2010-04-06 00:00:00                 1
                       2010-10-07 00:00:00                 1

In [52]:
agg_counts_df.address_left.value_counts()

1    83708
2     1257
3       12
Name: address_left, dtype: int64

In [114]:
count_df.inspection_count.value_counts()

1     94870
2     14146
3      2682
4       973
5       427
6       222
7        68
8        35
9        12
11        8
10        3
14        2
12        2
Name: inspection_count, dtype: int64

In [53]:
agg_counts_df.address_left.mean()

1.0150746672629065

In [54]:
agg_counts_df[agg_counts_df['address_left'] > 1]

                                            address_left  categories  city  \
business_id            inspection_date
-P8dGzSVhJi-5oZ-8U2y0w 2016-02-03 00:00:00             2           2     2
0XoTT540HMB_5q4Exj8yGA 2005-06-14 00:00:00             2           2     2
                       2005-12-29 00:00:00             2           2     2
                       2006-06-20 00:00:00             2           2     2
                       2007-06-28 00:00:00             2           2     2
...                                                  ...         ...   ...
zK7sltLeRRioqYwgLiWUIA 2018-01-11 00:00:00             2           2     2
                       2019-03-27 00:00:00             2           2     2
                       2019-12-19 00:00:00             2           2     2
zp-K5s3pGTWuuaVBWo6WZA 2018-11-15 00:00:00             2           2     2
zvQIEpJUmLLmMMffNntHXQ 2015-06-18 00:00:00             2           2     2

                                            is_open  latitude_left  \
business_id            inspection_date
-P8dGzSVhJi-5oZ-8U2y0w 2016-02-03 00:00:00        2              2
0XoTT540HMB_5q4Exj8yGA 2005-06-14 00:00:00        2              2
                       2005-12-29 00:00:00        2              2
                       2006-06-20 00:00:00        2              2
                       2007-06-28 00:00:00        2              2
...                                             ...            ...
zK7sltLeRRioqYwgLiWUIA 2018-01-11 00:00:00        2              2
                       2019-03-27 00:00:00        2              2
                       2019-12-19 00:00:00        2              2
zp-K5s3pGTWuuaVBWo6WZA 2018-11-15 00:00:00        2              2
zvQIEpJUmLLmMMffNntHXQ 2015-06-18 00:00:00        2              2

                                            longitude_left  name_left  \
business_id            inspection_date
-P8dGzSVhJi-5oZ-8U2y0w 2016-02-03 00:00:00               2          2
0XoTT540HMB_5q4Exj8yGA 2005-06-14 00:00:00               2          2
                       2005-12-29 00:00:00               2          2
                       2006-06-20 00:00:00               2          2
                       2007-06-28 00:00:00               2          2
...                                                    ...        ...
zK7sltLeRRioqYwgLiWUIA 2018-01-11 00:00:00               2          2
                       2019-03-27 00:00:00               2          2
                       2019-12-19 00:00:00               2          2
zp-K5s3pGTWuuaVBWo6WZA 2018-11-15 00:00:00               2          2
zvQIEpJUmLLmMMffNntHXQ 2015-06-18 00:00:00               2          2

                                            postal_code  review_count  stars  \
business_id            inspection_date
-P8dGzSVhJi-5oZ-8U2y0w 2016-02-03 00:00:00            2             2      2
0XoTT540HMB_5q4Exj8yGA 2005-06-14 00:00:00            2             2      2
                       2005-12-29 00:00:00            2             2      2
                       2006-06-20 00:00:00            2             2      2
                       2007-06-28 00:00:00            2             2      2
...                                                 ...           ...    ...
zK7sltLeRRioqYwgLiWUIA 2018-01-11 00:00:00            2             2      2
                       2019-03-27 00:00:00            2             2      2
                       2019-12-19 00:00:00            2             2      2
zp-K5s3pGTWuuaVBWo6WZA 2018-11-15 00:00:00            2             2      2
zvQIEpJUmLLmMMffNntHXQ 2015-06-18 00:00:00            2             2      2

                                            clean_name  facility_id  \
business_id            inspection_date
-P8dGzSVhJi-5oZ-8U2y0w 2016-02-03 00:00:00           2            2
0XoTT540HMB_5q4Exj8yGA 2005-06-14 00:00:00           2            2
                       2005-12-29 00:00:00           2            2
                       2006-06-20 00:00:00           2            2
                       2007-06-28 00:00:00           2            2
...                                                ...          ...
zK7sltLeRRioqYwgLiWUIA 2018-01-11 00:00:00           2            2
                       2019-03-27 00:00:00           2            2
                       2019-12-19 00:00:00           2            2
zp-K5s3pGTWuuaVBWo6WZA 2018-11-15 00:00:00           2            2
zvQIEpJUmLLmMMffNntHXQ 2015-06-18 00:00:00           2            2

                                            location_name  address_right  \
business_id            inspection_date
-P8dGzSVhJi-5oZ-8U2y0w 2016-02-03 00:00:00              2              2
0XoTT540HMB_5q4Exj8yGA 2005-06-14 00:00:00              2              2
                       2005-12-29 00:00:00              2              2
                       2006-06-20 00:00:00              2              2
                       2007-06-28 00:00:00              2              2
...                                                   ...            ...
zK7sltLeRRioqYwgLiWUIA 2018-01-11 00:00:00              2              2
                       2019-03-27 00:00:00              2              2
                       2019-12-19 00:00:00              2              2
zp-K5s3pGTWuuaVBWo6WZA 2018-11-15 00:00:00              2              2
zvQIEpJUmLLmMMffNntHXQ 2015-06-18 00:00:00              2              2

                                            latitude_right  longitude_right  \
business_id            inspection_date
-P8dGzSVhJi-5oZ-8U2y0w 2016-02-03 00:00:00               2                2
0XoTT540HMB_5q4Exj8yGA 2005-06-14 00:00:00               2                2
                       2005-12-29 00:00:00               2                2
                       2006-06-20 00:00:00               2                2
                       2007-06-28 00:00:00               2                2
...                                                    ...              ...
zK7sltLeRRioqYwgLiWUIA 2018-01-11 00:00:00               2                2
                       2019-03-27 00:00:00               2                2
                       2019-12-19 00:00:00               2                2
zp-K5s3pGTWuuaVBWo6WZA 2018-11-15 00:00:00               2                2
zvQIEpJUmLLmMMffNntHXQ 2015-06-18 00:00:00               2                2

                                            record_status  inspection_count  \
business_id            inspection_date
-P8dGzSVhJi-5oZ-8U2y0w 2016-02-03 00:00:00              2                 2
0XoTT540HMB_5q4Exj8yGA 2005-06-14 00:00:00              2                 2
                       2005-12-29 00:00:00              2                 2
                       2006-06-20 00:00:00              2                 2
                       2007-06-28 00:00:00              2                 2
...                                                   ...               ...
zK7sltLeRRioqYwgLiWUIA 2018-01-11 00:00:00              2                 2
                       2019-03-27 00:00:00              2                 2
                       2019-12-19 00:00:00              2                 2
zp-K5s3pGTWuuaVBWo6WZA 2018-11-15 00:00:00              2                 2
zvQIEpJUmLLmMMffNntHXQ 2015-06-18 00:00:00              2                 2

                                            average_demerits
business_id            inspection_date
-P8dGzSVhJi-5oZ-8U2y0w 2016-02-03 00:00:00                 2
0XoTT540HMB_5q4Exj8yGA 2005-06-14 00:00:00                 2
                       2005-12-29 00:00:00                 2
                       2006-06-20 00:00:00                 2
                       2007-06-28 00:00:00                 2
...                                                      ...
zK7sltLeRRioqYwgLiWUIA 2018-01-11 00:00:00                 2
                       2019-03-27 00:00:00                 2
                       2019-12-19 00:00:00                 2
zp-K5s3pGTWuuaVBWo6WZA 2018-11-15 00:00:00                 2
zvQIEpJUmLLmMMffNntHXQ 2015-06-18 00:00:00                 2

[1269 rows x 19 columns]

In [55]:
business_ment_df[business_ment_df['business_id'] == '-P8dGzSVhJi-5oZ-8U2y0w']

,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,inspection_date,inspection_time,employee_id,inspection_type_id,inspection_demerits,inspection_grade,inspection_grade_new,inspection_result,record_updated,inspection_type
63318,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2008-11-06 00:00:00,2008-11-06 15:30:00,EE7000857,916,4.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection
63319,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2009-06-23 00:00:00,2009-06-23 19:10:00,EE7000857,916,7.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection
63320,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2010-04-28 00:00:00,2010-04-28 14:40:00,EE7000857,916,8.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection
63321,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2011-11-28 00:00:00,2011-11-28 14:30:00,EE7000924,916,2.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection
63322,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2012-04-17 00:00:00,2012-04-17 14:30:00,EE7001032,916,10.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection
63323,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2013-03-14 00:00:00,2013-03-14 16:05:00,EE7001035,916,0.0,A,A,Compliant,2013-03-15 13:40:25,Routine Inspection
63324,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2013-05-17 00:00:00,2013-05-17 14:30:00,EE7001035,916,3.0,A,A,Compliant,2013-05-20 10:43:27,Routine Inspection
63325,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2014-05-07 00:00:00,2014-05-07 15:15:00,EE7001035,916,8.0,A,A,Compliant,2014-05-09 09:50:53,Routine Inspection
63326,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2015-04-02 00:00:00,2015-04-02 12:15:00,EE7000559,916,0.0,A,A,Compliant,2015-04-15 08:03:48,Routine Inspection
63327,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2016-02-03 00:00:00,2016-02-03 17:30:00,EE7000559,916,0.0,A,A,Compliant,2016-02-17 11:23:01,Routine Inspection
63328,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2017-06-09 00:00:00,2017-06-09 10:30:00,EE7000559,916,3.0,A,A,A Grade,2017-06-09 12:12:00,Routine Inspection
63329,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2019-02-26 00:00:00,2019-02-26 13:00:00,EE7000691,916,0.0,A,A,A Grade,2019-03-01 09:35:00,Routine Inspection
63330,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2018-09-11 00:00:00,2018-09-11 11:15:00,EE7001296,916,3.0,A,A,A Grade,2018-09-11 12:07:26,Routine Inspection
63331,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2009-11-14 00:00:00,2009-11-14 16:00:00,EE7000857,916,2.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection
63332,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2010-04-30 00:00:00,2010-04-30 10:40:00,EE7000857,916,1.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection
63333,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2017-01-12 00:00:00,2017-01-12 14:00:00,EE7000559,916,0.0,A,A,A Grade,2017-01-12 14:57:18,Routine Inspection
63334,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2012-07-05 00:00:00,2012-07-05 14:10:00,EE7001035,916,5.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection
63335,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2013-11-08 00:00:00,2013-11-08 14:45:00,EE7001035,916,0.0,A,A,Compliant,2013-11-18 11:54:40,Routine Inspection
63336,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2014-04-04 00:00:00,2014-04-04 15:40:00,EE7001035,916,3.0,A,A,Compliant,2014-04-08 15:30:19,Routine Inspection
63337,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2015-04-08 00:00:00,2015-04-08 15:40:00,EE7000559,916,0.0,A,A,Compliant,2015-04-23 09:55:56,Routine Inspection
63338,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2016-02-03 00:00:00,2016-02-03 13:30:00,EE7000559,916,0.0,A,A,Compliant,2016-02-17 10:59:12,Routine Inspection
63339,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2013-12-07 00:00:00,2013-12-07 19:20:00,EE7001125,916,0.0,P,PASS,Compliant,2014-04-16 16:27:15,Routine Inspection
63340,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2014-12-09 00:00:00,2014-12-09 16:15:00,EE7001035,916,0.0,P,PASS,Compliant,2014-12-15 11:49:00,Routine Inspection
63341,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2015-03-21 00:00:00,2015-03-21 16:15:00,EE7000559,916,3.0,P,PASS,Compliant,2015-03-31 12:56:13,Routine Inspection
63342,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2016-02-20 00:00:00,2016-02-20 18:55:00,EE7000559,916,0.0,P,PASS,Compliant,2016-02-24 14:58:25,Routine Inspection
63343,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2017-05-14 00:00:00,2017-05-14 19:30:00,EE7000559,916,0.0,A,A,A Grade,2017-05-14 19:40:57,Routine Inspection
63344,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2014-04-02 00:00:00,2014-04-02 14:55:00,EE7001035,916,5.0,A,A,Compliant,2014-04-08 09:31:01,Routine Inspection
63345,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2015-05-21 00:00:00,2015-05-21 13:30:00,EE7000559,916,0.0,A,A,Compliant,2015-05-28 14:14:37,Routine Inspection
63346,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2016-02-03 00:00:00,2016-02-03 15:30:00,EE7000559,916,0.0,A,A,Compliant,2016-02-17 11:15:58,Routine Inspection
63347,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2014-04-02 00:00:00,2014-04-02 12:35:00,EE7001035,916,0.0,A,A,Compliant,2014-04-08 09:26:50,Routine Inspection
63348,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2015-05-21 00:00:00,2015-05-21 14:15:00,EE7000559,916,0.0,A,A,Compliant,2015-05-28 14:19:50,Routine Inspection
63349,5255 Boulder Hwy,-P8dGzSVhJi-5oZ-8U2y0w,"Restaurants, Buffets, Diners",Las Vegas,0,36.108417,-115.057084,Cannery Row Buffet,89122.0,65,...,2016-02-03 00:00:00,2016-02-03 17:00:00,EE7000559,916,0.0,A,A,Compliant,2016-02-17 11:20:39,Routine Inspection

In [56]:
agg_counts_df[agg_counts_df['address_left'] == 3]

                                            address_left  categories  city  \
business_id            inspection_date
5QsW4RdCrDhVuDHnlgnCuA 2011-06-01 00:00:00             3           3     3
V9st1APIh04cP1WUfnvxmA 2012-06-28 00:00:00             3           3     3
                       2013-05-08 00:00:00             3           3     3
                       2014-05-13 00:00:00             3           3     3
eo49Xbwss1EK86eTuW23eg 2005-04-20 00:00:00             3           3     3
                       2005-11-03 00:00:00             3           3     3
                       2006-04-11 00:00:00             3           3     3
                       2010-03-03 00:00:00             3           3     3
                       2011-07-13 00:00:00             3           3     3
                       2013-08-14 00:00:00             3           3     3
                       2014-06-11 00:00:00             3           3     3
rvXg_6hRMYc6b5brLLBSxQ 2010-12-08 00:00:00             3           3     3

                                            is_open  latitude_left  \
business_id            inspection_date
5QsW4RdCrDhVuDHnlgnCuA 2011-06-01 00:00:00        3              3
V9st1APIh04cP1WUfnvxmA 2012-06-28 00:00:00        3              3
                       2013-05-08 00:00:00        3              3
                       2014-05-13 00:00:00        3              3
eo49Xbwss1EK86eTuW23eg 2005-04-20 00:00:00        3              3
                       2005-11-03 00:00:00        3              3
                       2006-04-11 00:00:00        3              3
                       2010-03-03 00:00:00        3              3
                       2011-07-13 00:00:00        3              3
                       2013-08-14 00:00:00        3              3
                       2014-06-11 00:00:00        3              3
rvXg_6hRMYc6b5brLLBSxQ 2010-12-08 00:00:00        3              3

                                            longitude_left  name_left  \
business_id            inspection_date
5QsW4RdCrDhVuDHnlgnCuA 2011-06-01 00:00:00               3          3
V9st1APIh04cP1WUfnvxmA 2012-06-28 00:00:00               3          3
                       2013-05-08 00:00:00               3          3
                       2014-05-13 00:00:00               3          3
eo49Xbwss1EK86eTuW23eg 2005-04-20 00:00:00               3          3
                       2005-11-03 00:00:00               3          3
                       2006-04-11 00:00:00               3          3
                       2010-03-03 00:00:00               3          3
                       2011-07-13 00:00:00               3          3
                       2013-08-14 00:00:00               3          3
                       2014-06-11 00:00:00               3          3
rvXg_6hRMYc6b5brLLBSxQ 2010-12-08 00:00:00               3          3

                                            postal_code  review_count  stars  \
business_id            inspection_date
5QsW4RdCrDhVuDHnlgnCuA 2011-06-01 00:00:00            3             3      3
V9st1APIh04cP1WUfnvxmA 2012-06-28 00:00:00            3             3      3
                       2013-05-08 00:00:00            3             3      3
                       2014-05-13 00:00:00            3             3      3
eo49Xbwss1EK86eTuW23eg 2005-04-20 00:00:00            3             3      3
                       2005-11-03 00:00:00            3             3      3
                       2006-04-11 00:00:00            3             3      3
                       2010-03-03 00:00:00            3             3      3
                       2011-07-13 00:00:00            3             3      3
                       2013-08-14 00:00:00            3             3      3
                       2014-06-11 00:00:00            3             3      3
rvXg_6hRMYc6b5brLLBSxQ 2010-12-08 00:00:00            3             3      3

                                            clean_name  facility_id  \
business_id            inspection_date
5QsW4RdCrDhVuDHnlgnCuA 2011-06-01 00:00:00           3            3
V9st1APIh04cP1WUfnvxmA 2012-06-28 00:00:00           3            3
                       2013-05-08 00:00:00           3            3
                       2014-05-13 00:00:00           3            3
eo49Xbwss1EK86eTuW23eg 2005-04-20 00:00:00           3            3
                       2005-11-03 00:00:00           3            3
                       2006-04-11 00:00:00           3            3
                       2010-03-03 00:00:00           3            3
                       2011-07-13 00:00:00           3            3
                       2013-08-14 00:00:00           3            3
                       2014-06-11 00:00:00           3            3
rvXg_6hRMYc6b5brLLBSxQ 2010-12-08 00:00:00           3            3

                                            location_name  address_right  \
business_id            inspection_date
5QsW4RdCrDhVuDHnlgnCuA 2011-06-01 00:00:00              3              3
V9st1APIh04cP1WUfnvxmA 2012-06-28 00:00:00              3              3
                       2013-05-08 00:00:00              3              3
                       2014-05-13 00:00:00              3              3
eo49Xbwss1EK86eTuW23eg 2005-04-20 00:00:00              3              3
                       2005-11-03 00:00:00              3              3
                       2006-04-11 00:00:00              3              3
                       2010-03-03 00:00:00              3              3
                       2011-07-13 00:00:00              3              3
                       2013-08-14 00:00:00              3              3
                       2014-06-11 00:00:00              3              3
rvXg_6hRMYc6b5brLLBSxQ 2010-12-08 00:00:00              3              3

                                            latitude_right  longitude_right  \
business_id            inspection_date
5QsW4RdCrDhVuDHnlgnCuA 2011-06-01 00:00:00               3                3
V9st1APIh04cP1WUfnvxmA 2012-06-28 00:00:00               3                3
                       2013-05-08 00:00:00               3                3
                       2014-05-13 00:00:00               3                3
eo49Xbwss1EK86eTuW23eg 2005-04-20 00:00:00               3                3
                       2005-11-03 00:00:00               3                3
                       2006-04-11 00:00:00               3                3
                       2010-03-03 00:00:00               3                3
                       2011-07-13 00:00:00               3                3
                       2013-08-14 00:00:00               3                3
                       2014-06-11 00:00:00               3                3
rvXg_6hRMYc6b5brLLBSxQ 2010-12-08 00:00:00               3                3

                                            record_status  inspection_count  \
business_id            inspection_date
5QsW4RdCrDhVuDHnlgnCuA 2011-06-01 00:00:00              3                 3
V9st1APIh04cP1WUfnvxmA 2012-06-28 00:00:00              3                 3
                       2013-05-08 00:00:00              3                 3
                       2014-05-13 00:00:00              3                 3
eo49Xbwss1EK86eTuW23eg 2005-04-20 00:00:00              3                 3
                       2005-11-03 00:00:00              3                 3
                       2006-04-11 00:00:00              3                 3
                       2010-03-03 00:00:00              3                 3
                       2011-07-13 00:00:00              3                 3
                       2013-08-14 00:00:00              3                 3
                       2014-06-11 00:00:00              3                 3
rvXg_6hRMYc6b5brLLBSxQ 2010-12-08 00:00:00              3                 3

                                            average_demerits
business_id            inspection_date
5QsW4RdCrDhVuDHnlgnCuA 2011-06-01 00:00:00                 3
V9st1APIh04cP1WUfnvxmA 2012-06-28 00:00:00                 3
                       2013-05-08 00:00:00                 3
                       2014-05-13 00:00:00                 3
eo49Xbwss1EK86eTuW23eg 2005-04-20 00:00:00                 3
                       2005-11-03 00:00:00                 3
                       2006-04-11 00:00:00                 3
                       2010-03-03 00:00:00                 3
                       2011-07-13 00:00:00                 3
                       2013-08-14 00:00:00                 3
                       2014-06-11 00:00:00                 3
rvXg_6hRMYc6b5brLLBSxQ 2010-12-08 00:00:00                 3

In [57]:
business_ment_df[(business_ment_df['business_id'] == '5QsW4RdCrDhVuDHnlgnCuA') & 
                 (business_ment_df['inspection_date'] == '2011-06-01 00:00:00')]

,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,inspection_date,inspection_time,employee_id,inspection_type_id,inspection_demerits,inspection_grade,inspection_grade_new,inspection_result,record_updated,inspection_type
23821,439 Rock Quarry Way,5QsW4RdCrDhVuDHnlgnCuA,"Food, Food Trucks, Street Vendors, Food Stands...",Las Vegas,1,36.221936,-115.146293,Carefree Catering,89032.0,12,...,2011-06-01 00:00:00,2011-06-01 06:30:00,EE7000881,916,2.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection
23832,439 Rock Quarry Way,5QsW4RdCrDhVuDHnlgnCuA,"Food, Food Trucks, Street Vendors, Food Stands...",Las Vegas,1,36.221936,-115.146293,Carefree Catering,89032.0,12,...,2011-06-01 00:00:00,2011-06-01 05:00:00,EE7000881,916,4.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection
23858,439 Rock Quarry Way,5QsW4RdCrDhVuDHnlgnCuA,"Food, Food Trucks, Street Vendors, Food Stands...",Las Vegas,1,36.221936,-115.146293,Carefree Catering,89032.0,12,...,2011-06-01 00:00:00,2011-06-01 05:30:00,EE7000881,916,3.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection
23891,439 Rock Quarry Way,5QsW4RdCrDhVuDHnlgnCuA,"Food, Food Trucks, Street Vendors, Food Stands...",Las Vegas,1,36.221936,-115.146293,Carefree Catering,89032.0,12,...,2011-06-01 00:00:00,2011-06-01 04:30:00,EE7000881,916,4.0,A,A,Compliant,2013-02-21 22:26:12,Routine Inspection

In [116]:
# Do the thing where you make a grade based on the demerits
def func(row):
    if row['average_demerits'] <= 10:
        return 'A'
    elif row['average_demerits'] <= 20:
        return 'B'
    elif row['average_demerits'] <= 40:
        return 'C'
    else:
        return 'F'

In [115]:
count_df.head()

,business_id,inspection_date,inspection_count,average_demerits
0,-0BxAGlIk5DJAGVkpqBXxg,2008-05-30 00:00:00,1,9.0
1,-0BxAGlIk5DJAGVkpqBXxg,2008-12-09 00:00:00,1,9.0
2,-0BxAGlIk5DJAGVkpqBXxg,2009-09-23 00:00:00,1,10.0
3,-0BxAGlIk5DJAGVkpqBXxg,2010-04-06 00:00:00,1,6.0
4,-0BxAGlIk5DJAGVkpqBXxg,2010-10-07 00:00:00,1,6.0

In [117]:
count_df['average_grade'] = count_df.apply(func, axis=1)

In [118]:
count_df.head()

,business_id,inspection_date,inspection_count,average_demerits,average_grade
0,-0BxAGlIk5DJAGVkpqBXxg,2008-05-30 00:00:00,1,9.0,A
1,-0BxAGlIk5DJAGVkpqBXxg,2008-12-09 00:00:00,1,9.0,A
2,-0BxAGlIk5DJAGVkpqBXxg,2009-09-23 00:00:00,1,10.0,A
3,-0BxAGlIk5DJAGVkpqBXxg,2010-04-06 00:00:00,1,6.0,A
4,-0BxAGlIk5DJAGVkpqBXxg,2010-10-07 00:00:00,1,6.0,A

### Give each inspection a time frame

Each business that had multiple inspections on different days will have multiple rows in this dataframe

Each business that had multiple inpsections on the same day will be represented as one row in this dataframe

Take the businesses with multiple rows and give the inspection a time period 

(review_start_period = previous_inspection_date, review_end_period = inspection_date)

In [61]:
group_business_df = agg_inspection_df.groupby('business_id').agg('count')
group_business_df

,address_left,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,stars,...,facility_id,location_name,address_right,latitude_right,longitude_right,record_status,inspection_date,inspection_count,average_demerits,average_grade
business_id,,,,,,,,,,,,,,,,,,,,,
-0BxAGlIk5DJAGVkpqBXxg,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
-1m9o3vGRA8IBPNvNqKLmA,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
-3AVh1GtLRc-HOwORLuzaQ,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
-8ZiMXZReeTD3kwEvS0Lww,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
-95mbLJsa0CxXhpaNL4LvA,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zvQIEpJUmLLmMMffNntHXQ,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
zx_j6OuuHHa2afVoAZuLpA,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
zyJWc8oW8JpPg2xXMQsnAA,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
zya86VD24cM4EhxJQDbp8A,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
zzOo9n22fBbKAhbSpMzggA,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23

In [62]:
agg_inspection_df[agg_inspection_df['business_id'] == 'PZ-LZzSlhSe9utkQYU8pFg']

,address_left,business_id,categories,city,is_open,latitude_left,longitude_left,name_left,postal_code,review_count,...,facility_id,location_name,address_right,latitude_right,longitude_right,record_status,inspection_date,inspection_count,average_demerits,average_grade
0,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,FA0005923,Carluccios,1775 E Tropicana Ave,36.100723,-115.128564,2,2005-01-26 00:00:00,2,9.5,A
2,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,FA0005923,Carluccios,1775 E Tropicana Ave,36.100723,-115.128564,2,2006-02-23 00:00:00,2,20.5,C
4,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,FA0005923,Carluccios,1775 E Tropicana Ave,36.100723,-115.128564,2,2006-03-01 00:00:00,1,7.0,A
5,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,FA0005923,Carluccios,1775 E Tropicana Ave,36.100723,-115.128564,2,2006-08-06 00:00:00,1,10.0,A
6,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,FA0005923,Carluccios,1775 E Tropicana Ave,36.100723,-115.128564,2,2006-11-05 00:00:00,2,13.5,B
8,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,FA0005923,Carluccios,1775 E Tropicana Ave,36.100723,-115.128564,2,2006-12-06 00:00:00,1,4.0,A
9,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,FA0005923,Carluccios,1775 E Tropicana Ave,36.100723,-115.128564,2,2007-05-26 00:00:00,2,13.5,B
11,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,FA0005923,Carluccios,1775 E Tropicana Ave,36.100723,-115.128564,2,2007-07-17 00:00:00,2,8.0,A
13,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,FA0005923,Carluccios,1775 E Tropicana Ave,36.100723,-115.128564,2,2008-05-16 00:00:00,2,15.5,B
15,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,FA0005923,Carluccios,1775 E Tropicana Ave,36.100723,-115.128564,2,2008-05-28 00:00:00,1,7.0,A
16,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,FA0005923,Carluccios,1775 E Tropicana Ave,36.100723,-115.128564,2,2009-03-03 00:00:00,2,8.5,A
18,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,FA0005923,Carluccios,1775 E Tropicana Ave,36.100723,-115.128564,2,2009-11-06 00:00:00,2,13.5,B
20,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,FA0005923,Carluccios,1775 E Tropicana Ave,36.100723,-115.128564,2,2010-01-27 00:00:00,2,7.5,A
22,"1775 E Tropicana Ave, Ste 29",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,36.100016,-115.128528,Carluccio's Tivoli Gardens,89119.0,40,...,FA0005923,Carluccios,1775 E Tropicana Ave,36.100723,-115.128564,2,2011-02-01 00:00:00,2,7.0,A

In [63]:
group_business_df.inspection_count.value_counts()

4      285
3      281
6      269
2      263
5      233
      ...
109      1
99       1
73       1
65       1
105      1
Name: inspection_count, Length: 83, dtype: int64

In [64]:
group_business_df.inspection_count.mean()

15.575659082701335

In [120]:
# from datetime import datetime, timedelta

count_df = count_df.rename(columns={'inspection_date': 'review_end_date'})
count_df['review_end_date'] = pd.to_datetime(count_df['review_end_date'])

In [121]:
count_df['review_end_date'][0]

Timestamp('2008-05-30 00:00:00')

In [122]:
# Naive way to create the date range
count_df['review_start_date'] = count_df['review_end_date'] - pd.Timedelta(days = 90)

In [123]:
count_df.head()

,business_id,review_end_date,inspection_count,average_demerits,average_grade,review_start_date
0,-0BxAGlIk5DJAGVkpqBXxg,2008-05-30,1,9.0,A,2008-03-01
1,-0BxAGlIk5DJAGVkpqBXxg,2008-12-09,1,9.0,A,2008-09-10
2,-0BxAGlIk5DJAGVkpqBXxg,2009-09-23,1,10.0,A,2009-06-25
3,-0BxAGlIk5DJAGVkpqBXxg,2010-04-06,1,6.0,A,2010-01-06
4,-0BxAGlIk5DJAGVkpqBXxg,2010-10-07,1,6.0,A,2010-07-09

In [135]:
business_df.categories

0                                     Restaurants, Italian
1        Nightlife, Arts & Entertainment, Bars, Strip C...
2        Mexican, Restaurants, Patisserie/Cake Shop, Fo...
3        Local Services, Food Banks, Community Service/...
4        Fast Food, Food, Restaurants, Ice Cream & Froz...
                               ...
10677    Farmers Market, Caterers, Food, Street Vendors...
10678    Event Planning & Services, Party Supplies, Who...
10679                      Champagne Bars, Nightlife, Bars
10680    Chinese Martial Arts, Specialty Schools, Educa...
10681                                   Food, Coffee & Tea
Name: categories, Length: 10682, dtype: object

### Introduce the reviews data

In [69]:
import json

reviews = []

with open(file_path + "data/review.json", encoding='utf8') as file:
    for line in file:
        reviews.append(json.loads(line))
        
reviews_df = pd.DataFrame(reviews)

In [124]:
reviews_df.shape

(6685900, 9)

In [125]:
full_df = reviews_df.merge(count_df, how='inner', on=['business_id'])

In [126]:
full_df.shape

(19179628, 14)

In [127]:
full_df['date'] = pd.to_datetime(full_df['date'])

In [128]:
relevant_reviews_df = full_df[(full_df['date'] > full_df['review_start_date']) & (full_df['date'] < full_df['review_end_date'])]

In [129]:
relevant_reviews_df.shape

(446378, 14)

In [130]:
relevant_reviews_df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,review_end_date,inspection_count,average_demerits,average_grade,review_start_date
15,IByf6mVY0WA838XNSh-5MA,3CJUJILq7CLHk_9OrvpvQg,I4Nr-MVc26qWr08-S3Q1ow,4.0,0,0,0,The food is always good and the prices are rea...,2016-01-17 05:26:22,2016-01-25,1,6.0,A,2015-10-27
74,FQNrnnmmxwdHyrQ84qkgHQ,zmr4gUzWiaPeEhIfeKXOvA,I4Nr-MVc26qWr08-S3Q1ow,4.0,3,1,3,Greenberg's Deli is part of the food court are...,2018-08-14 12:34:37,2018-10-10,1,0.0,A,2018-07-12
226,74UBpsoE7PfkVnoFoCwoUQ,3hOBCEDE-_jgg9EtrMjGPw,I4Nr-MVc26qWr08-S3Q1ow,3.0,0,0,0,Deli lost in the vegas strip high priced not l...,2018-08-14 19:55:40,2018-10-10,1,0.0,A,2018-07-12
378,vHa8j5ib7vM669CHSjWa7w,ksh0dhFDE4X1j1r4rc9ZQA,I4Nr-MVc26qWr08-S3Q1ow,5.0,0,0,0,"For $6.95, including coffee/tea, their breakfa...",2018-08-05 01:28:06,2018-10-10,1,0.0,A,2018-07-12
445,q88dPE65U-j-ciYcmhCPUw,P0pFmBdgsP4_ceJuRaMbBA,I4Nr-MVc26qWr08-S3Q1ow,5.0,0,0,0,Really good Jewish deli. Really soft rye and ...,2010-03-14 04:43:41,2010-06-04,1,2.0,A,2010-03-06

In [131]:
relevant_reviews_df.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date', 'review_end_date', 'inspection_count',
       'average_demerits', 'average_grade', 'review_start_date'],
      dtype='object')

In [132]:
agg_reviews_count_df = relevant_reviews_df.groupby(['business_id', 'review_end_date']).agg({'review_id': 'count'})
agg_reviews_count_df.shape

(53197, 1)

In [133]:
agg_reviews_count_df.review_id.value_counts()

1      13251
2       8662
3       5942
4       4169
5       3148
       ...
293        1
133        1
234        1
251        1
319        1
Name: review_id, Length: 204, dtype: int64